.listOption {
  position: relative;
  border-radius: 10px;
  overflow-x: visible;
}

.listOption label {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  }

.dropdown {
  position: relative;
  width: 460px;
  border-radius: 15px;
  border-color: var(--black);
  border: 2px;
}

.dropdown .selected-value {
  color: var(--greenedit);
  height: 3.875rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42rem;
  box-sizing: border-box;
  margin-bottom: 0;
}

.dropdown .arrowDown {  
  font-size: 1.4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
}

.listDropdown {
  position: absolute;
  cursor: pointer;
  left: 0;
  width: 460px;
  z-index: 1000;
  overflow-y: hidden;
  padding: 0.5rem; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 0.5px solid var(--black);
  border-radius: 0 0 10px 10px;
  color: var(--white);
  background-color: var(--black);
}

.dropdown.open .listDropdown {
  display: block;
}

/*Responsive-Mobile*/

@media (max-width: 320px) {
  .listOption label {
    font-size: 1.2rem;
  }
  .dropdown {
    width: 300px;
  }
  .arrowDown {
    width: 1.8rem;
  }
  .listDropdown {
    width: 200px;
    font-size: .65rem;
  }
  .dropdown .arrowDown {
    font-size: 1rem;
    margin-right: 30%;
    width: 20px;
  }
  .dropdown.open .listDropdown{
    font-size: 1.2rem;
  }
}
@media (min-width: 321px) and (max-width: 375px){
  .listOption label {
    font-size: 1.2rem;
  }
  .dropdown {
    width: 260px;
  }
  .arrowDown {
    width: 1.8rem;
  }
  .listDropdown {
    width: 250px;
    font-size: .75rem;
  }
}
@media (min-width: 376px) and (max-width: 414px){
  .listOption label {
    font-size: 1.3rem;
  }
  .dropdown {
    width: 290px;
  }
  .arrowDown {
    width: 1.5rem;
  }
  .listDropdown {
    width: 280px;
    font-size: .8rem;
  }
}
@media (min-width: 415px) and (max-width: 480px){
  .listOption label {
    font-size: 1.3rem;
  }
  .dropdown {
    width: 360px;
  }
  .arrowDown {
    width: 1.5rem;
  }
  .listDropdown {
    width: 350px;
    font-size: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 600px){
  .listOption label {
    font-size: 1.3rem;
  }
  .dropdown {
    width: 490px;
  }
  .arrowDown {
    width: 1.5rem;
  }
  .listDropdown {
    width: 480px;
  }
}
@media (min-width: 601px) and (max-width: 667px){
  .listOption label {
    font-size: 1.3rem;
  }
  .dropdown {
    width: 560px;
  }
  .arrowDown {
    width: 1.5rem;
  }
  .listDropdown {
    width: 560px;
  }
}
@media (min-width: 668px) and (max-width: 736px){
  .listOption label {
    font-size: 1.3rem;
  }
  .dropdown {
    width: 660px;
  }
  .arrowDown {
    width: 1.5rem;
  }
  .listDropdown {
    width: 660px;
  }
}
@media (min-width: 737px) and (max-width: 768px){
  .listOption label {
    font-size: 1.3rem;
  }
  .dropdown {
    width: 710px;
  }
  .arrowDown {
    width: 1.5rem;
  }
  .listDropdown {
    width: 710px;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  .listDropdown {
    width: 0px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px){
}