.network {
  display: flex;
  list-style: none;
}

.item {
  width: 75%;
}

@media (min-width: 668px) and (max-width: 736px){
  .item {
    width: 65%;
  }
  .network {
    display: flex;
    margin-left: 5% ;
  }
}
@media (min-width: 737px) and (max-width: 768px){
  .item {
    width: 65%;
  }
  .network {
    display: flex;
    margin-left: 5% ;
  }
}