.formButton {
  max-width: 11.258rem;
  max-height: 3.375rem;
  width: 100%;
  padding: 1rem 1.25rem;
  cursor: pointer;
  background: var(--black);
  border-radius: 10px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.newVideoButtons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  background: transparent;
  width: 100%;
  max-width: 35.813rem;
  font-size: 1.25rem;
}

.formButton-save {
  box-shadow: inset 0 0 10px 5px var(--black);
  filter: brightness(1.3);
}

.formButton-save,
.formButton-cancel {
  color: var(--black);
  border: 3px solid var(--black);
  background-color: transparent;
}

.formButton-cancel:hover,
.formButton-save:hover {
  filter: brightness(1.3);
  color: var(--greenedit);
  border-color: var(--greenedit);
}

.formButton:disabled {
  background-color: var(--black);
  background: transparent;
  filter: brightness(0.8);
  cursor: not-allowed;
}

/*Responsive-Mobile*/

@media (max-width: 320px) {
  .newVideoButtons {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formButton-save,
  .formButton-cancel {
    width: 40%;
    margin-left: -40%;
    font-size: 1rem;
    padding: 10px;
  }
  .formButton-cancel {
    margin-bottom: 20%;
  }
}
@media (min-width: 321px) and (max-width: 375px){
  .newVideoButtons {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formButton-save,
  .formButton-cancel {
    width: 40%;
    margin-left: -40%;
    font-size: 1rem;
    padding: 10px;
  }
  .formButton-cancel {
    margin-bottom: 20%;
  }
}
@media (min-width: 376px) and (max-width: 414px){
  .newVideoButtons {
    width: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formButton-save,
  .formButton-cancel {
    width: 40%;
    margin-left: -40%;
    font-size: 1rem;
    padding: 10px;
  }
  .formButton-cancel {
    margin-bottom: 20%;
  }
}
@media (min-width: 415px) and (max-width: 480px){
  .newVideoButtons {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formButton-save,
  .formButton-cancel {
    margin-left: -28%;
  }
}
@media (min-width: 481px) and (max-width: 600px){
  .newVideoButtons {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formButton-save,
  .formButton-cancel {
    margin-left: -20%;
  }
}
@media (min-width: 601px) and (max-width: 667px){
  .newVideoButtons {
    width: 667px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 668px) and (max-width: 736px){
  
}
@media (min-width: 737px) and (max-width: 768px){
  
}
@media (min-width: 769px) and (max-width: 1024px){
  
}
@media (min-width: 1025px) and (max-width: 1280px){
  
}